extends _rootlayout

block head
	link(href = "/styl/index.css", rel = "stylesheet", type = "text/css")
	title HOFFTECH
			
block body
	header
		img(src = "/img/hofftech_logo.png").img-responsive
	.buttons
		a.btn.btn-default(href = "/ken", target = "_self") ken
		a.btn.btn-default(href = "/projects", target = "_self") projects
		a.btn.btn-default(href = "/games", target = "_self") games
		a.btn.btn-default(href = "/blog", target = "_self") blog
		a.btn.btn-primary(href = "mailto:ken@hoff.tech", target = "_self") say hello
