extends _sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/individual.css")
	title Ken - HOFFTECH

block sub_body
	.individual
		.image(style = 'background-image: url("/img/ken.jpg")')
		h1.title Ken Hoff
		.140
		.description
			p Hi there! I'm Ken.
			p I'm a web developer and designer.
			p I'm currently based out of Boulder, CO, but I was formerly in Seattle, WA.
			p I'm a big fan of biking, cooking, and annoying my adorably dumb cat with the ukulele.
			p I've worked at Microsoft, as well as a number of startups.
			p I primarily work in Node.js, React, and RethinkDB.
			p Say hello at <a href="mailto: ken@hoff.tech">ken@hoff.tech</a>.
