extends ../../_sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/individual.css")
	title Breakout - HOFFTECH

block sub_body
	.individual
		.image(style = 'background-image: url("/img/breakout/breakout.gif")')
		h1.title PICO-8 Breakout
		h3 <a href = "/games/breakout/play" target = "_blank">Play</a> | <a href = "https://github.com/kenhoff/breakout" target = "_blank">GitHub</a>
		.140
		.description
			p Have you tried out <a href = "http://www.lexaloffle.com/pico-8.php" target = "_blank">PICO-8</a> yet? It's pretty cool.
			p I whacked together this game over a day or two while offline at a cabin near Winter Park.
			p Figuring out how to make the paddle angle the ball was surprisingly hard.
			p Enjoy!
