extends ../_sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/multiple.css")
	title Blog - HOFFTECH

		
block sub_body
		.multiple
			a.item(href = "/blog/slack-bots-need-a-rest-api", target="_self")
				h3.title Slack Bots need a REST API
				.140 Seriously!
