extends ../_sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/individual.css")
	title Slack Bots need a REST API - HOFFTECH

block sub_body
	article!= partial("_md/slack-bots-need-a-rest-api")
