.buttons
	a.button(href = "/who")
		.button-text who we are
	a.button(href = "/what")
		.button-text what we do
a.cta-button(href = "mailto:ken@hoff.tech") 
	.button-text get in touch
	
//
	a.button(href = "/why")
		.button-text why we do it
