head
	meta(name = "viewport" content="width=device-width, initial-scale=1")
	link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
	script(src = "http://cdn.jsdelivr.net/walkway/0.0.1/walkway.min.js")
	script.
		document.addEventListener("DOMContentLoaded", function () {
			console.log ("initializing...");
			var svg = new Walkway({selector: '#logo', duration: 8000, easing: "easeInOutExpo"});
			console.log(svg);
			svg.draw(function () {console.log ("draw complete") });
		})
	link(rel = "stylesheet", href = "/main.css", type = "text/css")
	link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	script(src = "//cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.2/snap.min.js")
	script.
		var snapper = new Snap({
			element: document.getElementById('content')
		});

body
	block content
