extends _mainlayout


block head

block content
	.snap-drawers
		.snap-drawer.snap-drawer-right
			.drawerbuttons
				a.subnavbutton(href = "/who")
					.subnavbuttontext who we are
			//
				a.subnavbutton(href = "/what")
					.subnavbuttontext what we do
				a.subnavbutton(href = "/why")
					.subnavbuttontext why we do it

	#content.snap-content
		.subnav
			a(href = "/"): img#navlogo(src = "/hofftech-logo-01.png")
			.subnavbuttons
				a.subnavbutton(href = "/who")
					.subnavbuttontext who we are
			//
				a.subnavbutton(href = "/what")
					.subnavbuttontext what we do
				a.subnavbutton(href = "/why")
					.subnavbuttontext why we do it
			a.hamburger(href = "#", onclick = "toggleSnap()")
				.hamburger-icon
					i.fa.fa-bars.fa-2x


		.scroll(style = "overflow: auto")
			block subcontent
				
				
	script(src = "//cdnjs.cloudflare.com/ajax/libs/snap.js/1.9.2/snap.min.js")
	script.
		var snapper = new Snap({
			element: document.getElementById('content'),
			disable: 'left'
		});
	script.
		toggleSnap = function () {
			if (snapper.state()['state'] == 'closed') {
				snapper.open('right')
			}
			else {
				snapper.close()
			}
		}
	
