extends _rootlayout

block head
	link(href = "/styl/navbar.css" rel = "stylesheet" type = "text/css")
	block sub_head

block navbar
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			//- // Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					i.fa.fa-bars
				a.navbar-brand(href='#')
					img(src = "/logo.png")
			//- // Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.btn.btn-default(href = "/ken") who
					li
						a.btn.btn-default(href = "/projects") what
					li
						a.btn.btn-primary(href = "mailto:ken@hoff.tech") hello

block body
	block sub_body
