extends _sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/multiple.css")
		
block sub_body
		.multiple
			a.item(href = "https://rodent.herokuapp.com/")
				.image(style = 'background-image: url("/img/rodent.gif")')
				h3.title Rodent
				.140 Monty Python murderous rabbit simulator.
			
			a.item(href = "http://kenhoff.net/games/violence/play")
				.image(style = 'background-image: url("/img/violence.png")')
				h3.title Violence
				.140 A game that doesn't appear to be violent, but feels violent.
			
			a.item(href = "http://kenhoff.net/games/bananacat/play")
				.image(style = 'background-image: url("/img/maniac_mystery_mansion.png")')
				h3.title Maniac Mystery Mansion
				.140 A co-op point-and-click adventure.
			
			a.item(href = "http://ludumdare.com/compo/ludum-dare-31/?action=preview&uid=20246")
				.image(style = 'background-image: url("/img/titan.png")')
				h3.title Titan
				.140 Lovecraftian minimalist browser pop-up window-based maze.
			
			a.item(href = "http://kenhoff.net/games/asteroids2/play")
				.image(style = 'background-image: url("/img/asteroids_2.png")')
				h3.title Asteroids 2
				.140 Fly ship, shoot rocks.
			
			a.item(href = "http://kenhoff.net/games/damnsharks/play")
				.image(style = 'background-image: url("/img/damnsharks.png");background-size:120%')
				h3.title Damn Sharks
				.140 Bubbles! Parallax! Submarines! Torpedoes! Sharks!
			
			a.item(href = "https://www.youtube.com/watch?v=dzOXV4v8sy4")
				.image(style = 'background-image: url("/img/thefacility.png")')
				h3.title The Facility
				.140 Escape the mental hospital.
			
			a.item(href = "http://kenhoff.net/games/corpseexplosion/play")
				.image(style = 'background-image: url("/img/corpseexplosion.png")')
				h3.title Corpse Explosion
				.140 Wonderful corpse-popping meat-squishing giblet-slapping sound effects!
			
			a.item(href = "https://github.com/kenhoff/thesis/raw/master/KenHoffThesis.pdf")
				.image(style = 'background-image: url("/img/thesis.png")')
				h3.title Thesis
				.140 Improving Educational Game Design Methods: A Rubric to Assess the Engagement and Educational Value of Educational Games
			
			a.item(href = "http://kenhoff.net/games/snape/play")
				.image(style = 'background-image: url("/img/snape.png")')
				h3.title Snape
				.140 Two teams of marbles trying to attack/defend a shared target.
			
			a.item(href = "http://kenhoff.net/games/heartofthemountain/play")
				.image(style = 'background-image: url("/img/heart_of_the_mountain.jpeg")')
				h3.title Heart of the Mountain
				.140 
				
			a.item(href = "http://kenhoff.net/games/temperature/play")
				.image(style = 'background-image: url("/img/temperature.png")')
				h3.title Temperature
				.140 Smoothed Particle Hydrodynamics and Metaballs.
				
			a.item(href = "http://kenhoff.net/games/monstertrucks/play")
				.image(style = 'background-image: url("/img/monster_truck_mayhem.png")')
				h3.title Monster Truck Mayhem
				.140 Tony Hawk-Monster Truck Rally mashup.
				
			a.item(href = "http://kenhoff.net/games/robotmayhem/play")
				.image(style = 'background-image: url("/img/robot_mayhem.png")')
				h3.title Robot Mayhem
				.140 Sneak in, grab the chip, get out.
				
			a.item(href = "http://kenhoff.net/games/gish/play")
				.image(style = 'background-image: url("/img/gish.png")')
				h3.title Gish
				.140 Experiments in soft-body physics.
			
			a.item(href = "https://www.youtube.com/watch?v=kHdEPm_U5RY")
				.image(style = 'background-image: url("/img/jetpack_joe.png")')
				h3.title Jetpack Joe
				.140 Orbital-based puzzle game.
			
			a.item(href = "http://kenhoff.net/games/temperature/play")
				.image(style = 'background-image: url("/img/asteroids.png")')
				h3.title Asteroids
				.140 The very first one.
