extends _rootlayout

block head
	link(href = "/styl/index.css", rel = "stylesheet", type = "text/css")
			
block body
	header
		img(src = "/img/hofftech_logo.png").img-responsive
	.buttons
		a.btn.btn-default(href = "/ken", target = "_self") who
		a.btn.btn-default(href = "/projects", target = "_self") what
		a.btn.btn-primary(href = "mailto:ken@hoff.tech", target = "_self") hello
