extends _rootlayout

block head
	link(href = "/styl/index.css", rel = "stylesheet", type = "text/css")
			
block body
	header
		img(src = "/logo.png").img-responsive
	.buttons
		a.btn.btn-default(href = "/ken") who
		a.btn.btn-default(href = "/projects") what
		a.btn.btn-primary(href = "mailto:ken@hoff.tech") hello
