extends _sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/multiple.css")
		
block sub_body
		.multiple
			a.item(href = "http://barfly.io")
				.image(style = 'background-image: url("/barfly_logo.png");background-size:80%')
				h3.title Liquor Distribution Project
				.140 We're fixing the way restaurants order liquor, one distributor at a time.
			a.item(href = "http://www.phoenixhealingfield.com/") 
				.image(style = 'background-image: url("/healing_field.jpg")')
				h3.title Healing Field
				.140 Similar to the Field of Heroes, the Healing Field represents the 3113 people that died during the attacks on 9/11. We built a QR-based app so that visitors could learn more about them.
			a.item(href = "http://idahofieldofheroes.com/") 
				.image(style = 'background-image: url("/field_of_heroes.jpg")')
				h3.title Idaho Field of Heroes
				.140 Every Memorial Day, 6827 crosses are set up in Pocatello Idaho, one for each soldier that died in the Middle East. We built a QR-based app so that visitors could learn more about them.
			a.item(href = "/games", target = "_self") 
				.image(style = 'background-image: url("/asteroids_2.png")')
				h3.title Games
				p Sometimes I make games!
				p "Video games are the sum total of every expressive medium of all time, made interactive."
