body
	font-family 'Montserrat', sans-serif
	background-color #111111

.flex-container
	height 100%

#logo
	width 60%
	margin auto

.buttons
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-around
	color white

.button
	margin auto
	height 60px
	width 300px
	display flex
	justify-content space-around
	&:hover
		background-color #222222

.button-text
	margin auto
	display block

.top-half
	height 60%
	display flex
	justify-content space-around
	flex-direction column

.bottom-half
	height 40%

a
	color: inherit
	text-decoration: none
