extends _sublayout

block subcontent
	.center
		.object-grid
			.object-grid-item
				.face(style = "background-image: url(/crosses.jpg)")
				.grid-item-text The Field Of Heroes, a memorial in Central Ohio, is a field of almost 7000 crosses, each one dedicated to a soldier who fell during the engagments in the Middle East.
				.grid-item-text We built an app that generated individual QR codes that could be placed on each cross, and when scanned, would provide more information about that soldier.
			a.object-grid-item(href = "//kenhoff.net/games")
				#titan.face
				.grid-item-text Games!
				.grid-item-text I love making games. 
				.grid-item-text "Video games are the sum total of every expressive medium of all time, made interactive." 
				.grid-item-text I'm a big fan of games that showcase new mechanics; it's easy to juice and polish a game, but it's really something else to make a game that <i>feels</i> good. 
