extends _sublayout

block subcontent
	.center
		.object-grid
			.object-grid-item
				#ken.face
				.grid-item-text Hi! I'm Ken.
				.grid-item-text I'm a web developer and designer. 
				.grid-item-text I'm originally from Boulder, CO. I'm a big fan of biking, cooking, and my two adorably dumb cats. I've worked at Microsoft, as well as a number of startups.
				.grid-item-text I primarily write Node.js, and recently I've been getting into React and RethinkDB.
				.grid-item-text (sometimes I like to <a href = "http://kenhoff.net/games/" target = "_blank">make video games</a>)
				.grid-item-text Get in touch at <a href = "mailto:ken@hoff.technology">ken@hoff.technology</a>.

