extends _sublayout

block subcontent
	p coming soon!
	//.page
		:markdown
			We all grew up watching science fiction. *Tron*, *The Fifth Element* and *The Next Generation* basically shaped our childhoods.

			These worlds....something something. It was mysterious and alluring, and it made us feel like technology could make the world a better place.

			We still think it can.

			something about technology -> social good

			We're not glorified toymakers. We don't create trivial nothings that cater only to the rich and privileged. 

			That's not to say that we don't make toys. When we do, they're simple, accessible, and delightful.

			something about bringing high-tech to the masses, improving lives

		.email
			p Get in touch.
			a(href = "mailto:hi@hoff.technology") hi@hoff.technology

