extends ../../_sublayout

block sub_head
	link(rel = "stylesheet", href = "/styl/individual.css")
	title It Lives! - HOFFTECH

block sub_body
	.individual
		.image(style = 'background-image: url("/img/itlives/monsterboy_idle.gif"), url("/img/itlives/background.png")')
		<iframe style = "margin:15px 30px" width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/228100996&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		h1.title It Lives!
		h3 <a href = "/games/itlives/download">Download</a> | <a href = "https://github.com/kenhoff/it_lives">GitHub</a>
		.140
		.description
			p Featuring the creative genius of <a href="https://twitter.com/kacydoodles" target="_blank">Kacy Corlett</a> and <a href="https://twitter.com/joshuaduchene" target="_blank">Joshua Du Chene</a>!
			p Created for the 2015 Seattle Game Jam, hosted by <a href = "https://playfab.com/">PlayFab</a>.
			p Have you ever seen <a href = "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CB0QtwIwAGoVChMIienrk6bIyAIVRsVjCh0tVgu5&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DOt24CCbYwIU&usg=AFQjCNGg_LW5KpOG7Qu5P7fKqwProDUp0Q&sig2=X_b72o4xFi3x7poLrzbqOQ&bvm=bv.105454873,d.cGU" target = "_blank">that scene from Wreck-It Ralph where they build the candy kart</a>? I was basically going for that, except with a Frankenstein monster!
			p I really shot for the moon with this one! There's only so much coding that can get done in 24 hours.
			p But seriously. The sheer volume and quality of assets produced, both art and sound, is amazing. I'm super lucky to be able to work with these two amazing creatives.
