// resetting google font
h1, h2, h3, h4, h5, h6, p, div
	font-family: 'Montserrat', sans-serif;

body
	background-color #111111

.btn
	border-radius 2px

// color for default buttons
.btn-default
	border-color #222222
	background-color #222222
	&:hover
		border-color #333333
		background-color #333333

// color for primary button
.btn-primary
	border-color #0066ff
	background-color #0066ff
	&:hover
		border-color #1372FF
		background-color #1372FF
