// resetting google font
h1, h2, h3, h4, h5, h6, p, div
	font-family: 'Montserrat', sans-serif;

body, .navbar-default
	background-color #111111

a
	color #0066ff
	&:hover
		color #0066ff

.btn
	border-radius 2px

// color for default buttons + navbar buttons
.btn-default, .navbar-default .navbar-nav>li>a.btn-default, .navbar-default .navbar-toggle
	color #ffffff
	border-color #222222
	background-color #222222
	&:hover, &:focus
		color #ffffff
		border-color #333333
		background-color #333333

// color for primary button + navbar buttons
.btn-primary, .navbar-default .navbar-nav>li>a.btn-primary
	color #ffffff
	border-color #0066ff
	background-color #0066ff
	&:hover, &:focus
		color #ffffff
		border-color #1372FF
		background-color #1372FF
